* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    "nav header header header"
    "nav header header header"
    "nav header header header"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main"

    ;
}
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(2, 1fr);
    background-color: lightgray;
    gap: 10px;
    padding: 20px;
}

input{
    width: 27rem;
    border: none;
    height: 2rem;
    border-radius: 20px;
}

.info img {
    width: 95px;
    height: 90px;
}

.notification img {
    width: 70px;
    height: 65px;
   
}

.header > div {
    display: flex;
    align-items: center;
    gap: 15px;
}
    
.notification {
    justify-content: end;
    padding-right: 30px;
}

i {
    cursor: pointer;
}

button {
    width: 7rem;
    height: 2.8rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 15px;
    background-color: blanchedalmond;
    color: black;
    font-weight: 800;
    font-size: 0.9rem;
    transition: background-color 0.3s ease-in-out,
            color 0.3s ease-in-out;
}

button:hover {
background-color: chocolate;
color: white;
font-size: 1rem;

}
/* Utilities classes */
.images {
    object-fit: cover;
    border-radius: 50%;
}

.nav {
    display: grid;
    grid-area: nav;
   justify-content: center;
   color: whitesmoke;
    background: darkblue ;
}

.nav-items, .others {
    display: grid;
} 

.main {
    display: grid;
    grid-area: main;
    gap: 18px;
    padding: 20px;
    grid-template-columns: repeat(2, 20rem) 1fr;
    grid-template-rows: repeat(3, 10rem);
    background: rgb(233, 196, 170);
}

.card {
    background-color: whitesmoke;
    border-left: solid 8px chocolate;
    display: grid;
    padding: 10px;
    border-radius: 7px;
}
.icon {
    display:flex;
    justify-content: flex-end;
    gap: 10px;
}